.contact-page
  .page-content
    %h1.heading
      %span.corner.left
      %span.content Contact
      %span.corner.right

    .row
      .main
        .map
          %h2.title Find us
          = partial :map

        .contact
          = partial :message_form

      .sidebar
        %h3.title Make your reservation now!
        %ul.contact-methods
          %li.contact-method.phone
            %span.icon.icon-phone_dark
            01228 524433

          %li.contact-method.email
            %span.icon.icon-email_dark
            %a{:href => "mail_to:info@bluerare.co.uk"} info@bluerare.co.uk

          %li.contact-method.address
            %span.icon.icon-pin_dark
            = partial :address
