.home
  .features
    %section.feature.first
      .content
        .heading
          .corner.left
          .content Bluerare Restaurant
          .corner.right
        .image-container
          .image-border
            %img{:src => '/images/bluerare-restaurant.jpg', :class => 'image'}
        %p
          Bluerare Restaurant - Home cooking at its best. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    %section.feature
      .content
        .heading
          .corner.left
          .content Bluerare Event Hire
          .corner.right
        .image-container
          .image-border
            %img{:src => '/images/bluerare-events.jpg', :class => 'image'}
        %p Bluerare Event Hire consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco price list coming soon...

    %section.feature.last
      .content
        .heading
          .corner.left
          .content Bluerare At Home
          .corner.right
        .image-container
          .image-border
            %img{:src => '/images/bluerare-at-home.jpg', :class => 'image'}
        %p
          Bluerare At Home - restaurant quality to your door. Quality stteaks, handmade burgers, traditional menu, homemade desserts. All prepared by our chefs and delivered hot to your door. Menu coming soon...

    .clear
