= gmap
%br/
%small
  %a{:href => "https://maps.google.co.uk/maps?source=embed&hl=en&geocode=&q=Bluerare,+Carleton,+London+Road,+Carlisle,+Cumbria&aq=&sll=53.800651,-4.064941&sspn=10.196854,20.852051&ie=UTF8&hq=Bluerare,+Carleton,+London+Road,+Carlisle,+Cumbria&hnear=Carleton,+CA1+3DP,+United+Kingdom&t=m&ll=54.880162,-2.906742&spn=0.039502,0.102825&z=13&iwloc=A",
  :style => "color:#0000FF;text-align:left"} View Larger Map
