%nav.menu
  %span.corner.left
  %ul.links
    %span.stars.first
    %li.link
      %a{:href => "/"} Home
    %li.link
      %a{:href => "/messages/new"} Contact
    %span.stars.last
  %span.corner.right
